<!DOCTYPE html>
<!-- html page for the home page of the web app -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <style>
      .column {
        float: left;
        width: 20%;
        padding: 10px;`
      }
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
    </style>
</head>

<body>

    <h1>TODO List:</h1>

    {% for todo in todo_list %}

    <!-- list of tasks added by the user -->
    <div class="row">
      <h3> <div class="column"> </div>
          <div class="column"> Title </div>
          <div class="column"> Deadline </div>
          <div class="column"> Edit Task </div> </h3>
    </div>
    <div class="row">
      <form class="" action="/delete/{{ todo.id }}" method="post" id = "delete">
        <p> <div class="column"> <input type="checkbox" value="{{ todo.id }}" id="deletebox"
                name="deletebox" onclick="document.getElementById('delete').submit()"> </div>
            <div class="column">  {{ todo.title }}</div> <div class="column">{{ todo.deadline}} </div>
            <div class="column"> <a href="/update/{{ todo.id }}"> Update</a> </div>
        </p>
      </form>
    </div>

    <!-- form that takes in a title and deadline for each task -->
    {% endfor %}
    <hr>
    <form action="/add" method="post">
        <div>
            <label>Add To TODO List</label>
            <br>
            <input type="text" name="title" placeholder="Enter Todo Item...">
            <input type="text" name="deadline" placeholder="Add Deadline...">
            <button type="submit">Add</button>
        </div>
    </form>

</body>

</html>
